.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkModeButton {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border-radius: 8px;
  height: 36px;
  width: 100px;
}

.darkModeButton:hover {
  cursor: pointer;
}

.loading {
  height: 100vh;
  color: #FFF;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
